html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --bgColor: #e5e5e5;
  --favouritesBg: #929292;
  --transition: all 0.3s linear;
  --headerColor: #929292;
  --borderColor: #c4c4c4;
}
body {
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background: var(--bgColor);
}
.city {
  padding-inline: 1rem;
  display: flex;
  margin: 0.5rem auto;
  justify-content: space-between;
  background: var(--bgColor);
  border-radius: 5px;
  align-items: center;
  width: 60%;
  height: 40px;
}

.city-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .city {
    width: 50%;
  }
}

.favourites {
  width: 400px;
  min-height: 100vh;
  transition: var(--transition);
  background: var(--favouritesBg);
  margin-left: -100%;
}
.favourites-visible {
  margin-left: 0;
}

.favourites-header {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .favourites {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .close-btn {
    display: none;
  }
  /* .add-favourite-btn {
    display: none;
  } */
}

/*
=============
Details Page
=============
*/
.city-header {
  color: var(--headerColor);
}
.select-btn {
  padding-inline: 1rem;
  color: var(--headerColor);
  outline: none;
  border: 1px solid var(--borderColor);
}
.select-item {
  color: var(--headerColor);
  height: 40px;
}
